.gameObject {
  position: absolute;
  width: 100px;
  height: 100px;
}

.ghost {
  @extend .gameObject;
  background: url('/dist/img/objects/ghost.png');
}

.bottle {
  @extend .gameObject;
  background: url('/dist/img/objects/bottle.png');
}

.mouse {
  @extend .gameObject;
  background: url('/dist/img/objects/mouse.png');
}

.chair {
  @extend .gameObject;
  background: url('/dist/img/objects/chair.png');
}

.book {
  @extend .gameObject;
  background: url('/dist/img/objects/book.png');
}
