.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  align-content: flex-start;
}

// @media all and (min-width: 500px) {
//   .wrapper {
//     display: flex;
//   }
// }

