.ghost {
  width: 100px;
  height: 100px;
  background: url('/dist/img/ghost.png');
}

.bottle {
  width: 100px;
  height: 100px;
  background: url('/dist/img/bottle.png');
}

.mouse {
  width: 100px;
  height: 100px;
  background: url('/dist/img/mouse.png');
}

.chair {
  width: 100px;
  height: 100px;
  background: url('/dist/img/chair.png');
}

.book {
  width: 100px;
  height: 100px;
  background: url('/dist/img/book.png');
}
