.ghost {
  width: 100px;
  height: 100px;
  background: url('/dist/ghost.png');
}

.bottle {
  width: 100px;
  height: 100px;
  background: url('/dist/bottle.png');
}

.mouse {
  width: 100px;
  height: 100px;
  background: url('/dist/mouse.png');
}

.chair {
  width: 100px;
  height: 100px;
  background: url('/dist/chair.png');
}

.book {
  width: 100px;
  height: 100px;
  background: url('/dist/book.png');
}
